.content a {
  color: white;
  background-image: linear-gradient(
    to right,
    #2563eb,
    #4f46e5
  ); /* blue-600 to indigo-600 */
  padding: 0.5rem 1rem;
  border-radius: 10px; /* full */
  font-weight: 600;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  text-align: center;
}

.content a:hover {
  background-image: linear-gradient(
    to right,
    #1d4ed8,
    #4338ca
  ); /* blue-700 to indigo-700 */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.content a:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3b82f6; /* ring offset and ring */
}

.content li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  list-style: circle;
}

.content p {
  font-size: 17px;
}
@media only screen and (max-width: 640px) {
  .content {
    width: 95vw;
    overflow: hidden;
    text-align: justify;
  }
  .content pre {
    overflow-x: auto;
  }
  .content ul {
    margin: 0.5rem;
  }
}
